fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
chromadb
sentence-transformers
pymupdf
python-docx
pydantic
python-dotenv
python-multipart
langchain-chroma
rank-bm25